
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Rampart+One&display=swap');

:root {
  --black: rgb(20, 19, 19);
  --light-grey: rgb(219, 193, 186);
  --med-earth: rgb(214, 135, 98);
  --light-aqua: rgb(170, 247, 247);
  --dark-aqua: rgb(0, 223, 223);
  --ff-main: 'Josefin Sans', sans-serif;
  --ff-accent: 'Rampart One', cursive;
  --ff-celebrate: 'Averia Libre', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  color: var(--black);
  font-family: var(--ff-main);
  font-weight: 400;
}

h1 {
  margin-bottom: .75em;
  margin-top: .75em;
  font-family: var(--ff-accent);
}

.underline {
  margin: 0 auto;
  border: 1px solid var(--med-earth);
  max-width: 30vw;
}

.todoitem {
  display: flex;
  margin: 0 auto;
  padding: 1em;
  max-width: 30vw;
}

.todoitem > input {
  float: left;
}

.todoitem > p {
  display: flex;
  text-align: left;
  background-color: var(--light-aqua);
  margin-left: .4em;
  padding: .2em;
  border-radius: 7px;
  border: .5px solid var(--dark-aqua);
  max-width: 14vw;
  letter-spacing: .1rem;
  justify-content: center;
  align-items: center;
}

.todoitem__affirm {
  display: flex;
  text-align: left;
  background-color: var(--light-aqua);
  margin-left: .4em;
  padding: .2em;
  border-radius: 7px;
  border: .5px solid var(--dark-aqua);
  max-width: 30vw;
  font-weight: 200;
  font-style: italic;
  letter-spacing: .1rem;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
